<?xml version="1.0"?>
<robot name="panda" xmlns:xacro="http://wiki.ros.org/xacro">

	<!-- define relative movement to get to gripper_description/ -->
	<xacro:property name="path_to_top" value="../.."/>

	<!-- include the mujoco settings xacro -->
	<xacro:include filename="${path_to_top}/mujoco/xacro/mujoco.xacro"/>
	<xacro:mujoco_settings/>
	
	<!-- rest of file should be identical to panda_and_gripper.urdf.xacro -->

	<xacro:include filename="${path_to_top}/xacro/panda.xacro"/>
	<xacro:add_panda path_to_top="${path_to_top}"/>
	
	<!-- connect the panda to the ground -->
	<link name="world"/>
	<joint name="world_to_base" type="fixed">
	  <origin xyz="0 0 0" rpy="0 0 0"/>
	  <parent link="world"/>
	  <child link="panda_link0"/>
	</joint>
	
</robot>
