<?xml version="1.0"?>
<robot name="gripper" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="add_gripper" params="path_to_top:='..'">
	
		<!-- PARAMETERS TO BE SET BY HAND -->
		
		<!-- xyz values to connect the segmented finger to the finger platform -->
		<!-- TODO verfiy these values -->
		<xacro:property name="x_fix" value="0.129"/>
		<xacro:property name="y_fix" value="-0.007"/>
		<xacro:property name="z_fix" value="0"/>
		
		<!-- END OF PARAMETERS TO BE SET BY HAND -->
		
		<!-- load the macro for the gripper and segmented fingers -->
		<xacro:property name="filename" value="${path_to_top}/config/gripper.yaml"/>
		<xacro:include filename="${path_to_top}/xacro/gripper.main.xacro"/>
		<xacro:include filename="${path_to_top}/xacro/gripper.segmented_fingers.xacro"/>

		<!-- load information from the gripper yaml file -->
		<xacro:property name="yaml_dict" value="${xacro.load_yaml(filename)}"/>
		<xacro:property name="is_segmented" value="${yaml_dict['gripper_config']['is_segmented']}"/>

		<!-- create instance of gripper -->
		<xacro:gripper yaml_dict="${yaml_dict}"/>

		<!-- macro for adding the segmented fingers onto the gripper-->
		<xacro:macro name="add_fingers">
		  <!-- Create the fingers themselves -->
		  <xacro:segmented_finger prefix="finger_1" yaml_dict="${yaml_dict}"
		  												connect_to="finger_1" x="${x_fix}" y="${y_fix}" z="${z_fix}"/>
		  <xacro:segmented_finger prefix="finger_2" yaml_dict="${yaml_dict}"
		  												connect_to="finger_2" x="${x_fix}" y="${y_fix}" z="${z_fix}"/>
		  <xacro:segmented_finger prefix="finger_3" yaml_dict="${yaml_dict}"
		  												connect_to="finger_3" x="${x_fix}" y="${y_fix}" z="${z_fix}"/>
		  <!-- adds the finger controller plugin to gazebo -->
		  <xacro:gazebo_plugin/>

		  <!-- OLD CODE: delete later if not needed
			comment: attach them to the gripper 
		  <joint name="to_segmented_finger_1" type="fixed">
		    <origin xyz="${x_fix} ${y_fix} ${z_fix + 0.1}" rpy="${pi/2} 0 0"/>
		    <parent link="finger_1"/>
		    <child link="finger_1_segment_link_1"/>
		  </joint>
		  <joint name="to_segmented_finger_2" type="fixed">
		    <origin xyz="${x_fix} ${y_fix} ${z_fix}" rpy="${pi/2} 0 0"/>
		    <parent link="finger_2"/>
		    <child link="finger_2_segment_link_1"/>
		  </joint>
		  <joint name="to_segmented_finger_3" type="fixed">
		    <origin xyz="${x_fix} ${y_fix} ${z_fix}" rpy="${pi/2} 0 0"/>
		    <parent link="finger_3"/>
		    <child link="finger_3_segment_link_1"/>
		  </joint>
		  -->
			
		</xacro:macro>

		<!-- add the segmented fingers only if indicated in gripper.config -->
		<xacro:if value="${is_segmented}">
		  <xacro:add_fingers/>
		</xacro:if>
  
  </xacro:macro>

</robot>
